<div class="container">
	<div class="navigator">
		<div class="title">Title</div>
		<div class="left"><i class="fa fa-angle-left"></i> 退出</div>
		<div class="right"><i class="fa fa-list"></i></div>
	</div>
	<div class="scroll-view">
		<div class="list-view-title">Settings</div>
		
		<div class="list-view-outer">
			<table class="list-view">
				<colgroup>
					<col style="width: 3em;" />
					<col />
				</colgroup>
				<tr href="~/home/page.html" data-performance="slide">
					<td>
						<div class="icon-small" style="background-color: green">
							<i class="fa fa-desktop"></i>
						</div>
					</td>
					<td>123</td>
				</tr>
				<tr href="~/home/page.html" data-performance="bump">
					<td>
						<div class="icon-small" style="background-color: purple">
							<i class="fa fa-gamepad"></i>
						</div>
					</td>
					<td>123</td>
				</tr>
			</table>
		</div>
		
		<div class="list-view-title"></div>
		
		<div class="list-view-outer">
			<table class="list-view">
				<tr>
					<td>123</td>
				</tr>
				<tr>
					<td>123</td>
				</tr>
			</table>
		</div>
		
		<div class="list-view-title">Test</div>

        <div class="list-view-outer">
            <table class="list-view">
                <tr>
                    <td>123</td>
                </tr>
                <tr>
                    <td>123</td>
                </tr>
            </table>
        </div>

        <div class="list-view-title">Test</div>

        <div class="list-view-outer">
            <table class="list-view">
                <tr>
                    <td>123</td>
                </tr>
                <tr>
                    <td>123</td>
                </tr>
            </table>
        </div>
		
		<div class="inner-content">
			<p>
				<input type="checkbox" checked />
			</p>
			<p>This is home/index.html .</p>
			<p>
				<a href="~/home/page.html?name=zys" data-performance="slide">Go to another page.</a>
			</p>
			<p>
				<input type="text" />
			</p>
		</div>
	</div>
</div>