<div class="container">
    <div class="navigator">
        <div class="title">A + B Problem</div>
        <div class="left">O</div>
        <div class="right">Add</div>
    </div>
    <div class="scroll-view">
        <p>A: <input type="text" id="txtA" /></p>
        <p>B: <input type="text" id="txtB" /></p>
        <p><input type="button" id="btnCalc" value="Sum" /></p>
        <p><a href="javascript:jFlick.Back();">Back</a></p>
        <p>
            <input type="checkbox" checked />
        </p>
        <p>
            <a href="~/home/page2.html?name=zys" data-performance="bump">Go to another page.</a>
        </p>
    </div>
    <table class="tab-bar">
        <tbody>
            <tr>
                <td>
                    <a href="#" class="tab-active tab-block">
                        <i class="fa tab-icon fa-tasks"></i><br /><span class="tab-text">商品</span>
                    </a>
                </td>
                <td>
                    <a href="#" class="tab-block">
                        <i class="fa tab-icon fa-shopping-cart"></i><br /><span class="tab-text">购物车</span>
                    </a>
                </td>
                <td>
                    <a href="#" class="tab-block">
                        <i class="fa tab-icon fa-user"></i><br /><span class="tab-text">我的</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>